<h3>Sign In</h3>
<h4>Please enter your username and password</h4>
<form action="/users/signin" method="post">
  <fieldset>
    <div class="form-field">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"
        spellcheck="false" autocomplete="true"
        value="<%= @previous_username %>">
    </div>
    <div class="form-field">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
    </div>
    <button type="submit">Log In</button>
  </fieldset>
</form>
<ul class="links">
  <li><a href="/">Back</a></li>
</ul>
