html,
body {
    font-family: Helvetica, Arial, sans-serif;
}

.flash-message {
    font-size: 1rem;
    font-weight: normal;
    background-color: #f5ff40;
    padding: 0.75rem;
}

.links {
    list-style: none;
    padding: 0.5rem 0 0 0.5rem;
    margin: 0;
}

fieldset {
    max-width: 50%;
}

.form-field {
    display: flex;
}

.form-field label {
    margin: 1rem 0 1rem 1rem;
    flex-grow: 1;
    padding: 4px;
}

.form-field input[type="text"],
.form-field input[type="password"] {
    border: 1px solid #06c;
    border-radius: 4px;
    font: normal 1rem Helvetica, Arial, sans-serif;
    margin: 1rem 1rem 1rem 0;
    flex-grow: 7;
    padding: 4px;
}

.flights {
    border-collapse: collapse;
}

.flights th {
    border-bottom: 1px solid #000;
}

.flights th,
.flights td {
    padding: 0.5rem 1rem;
}

.time-input {
    flex-grow: 7;
    display: flex;
    width: 50%;
}

.time-input select {
    margin-right: 4px;
}
